.bg-img{
    /* background-image: url('./images/my-image.jpg'); */
    background:linear-gradient( rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5)), url('./images/anna-kolosyuk-D5nh6mCW52c-unsplash.jpg');
    background-size: cover; 
    min-height: 100%;
    background-position: center;
    margin-bottom: 0;
}

ul>li{
    display: inline;
    float: right;
    margin: 10px;
    padding: 15px;
    font-size: 1rem;
    margin-right: 25px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
}
ul>.contact{
    border: 2px solid #fff;
    border-radius: 30px;
}

ul{
    display: inline;
}
nav{
    background: #6769cd38;
    padding: 10px;
   
}
.logo{
    display: inline;
    padding-left: 20px;
    cursor: pointer;
}
img{
    width: 75px;
    height: auto;
    padding: 10px;
}
 body{
    margin: 0;
}
.text-container{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}
.description{
    font-size: 3.5rem;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    color: #fff;
}
.name-heading{
    color: #97e123;
}
/* center form element */
.form-container{
    text-align: center;
    margin-top: 75px;
    padding-bottom: 135px;

}
.form-container>form>input{
    width: 200px;
    border: 1px solid black;
    margin-top: 10px;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius:  10px 0 0 10px;
    background-color: transparent;
}
.form-container input:focus{
    outline: none;
}
.form-container>form>button{
   font-size: 1rem;
   padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
    background: #9e2424;
    color: #000;
    cursor: pointer;
}
label{
    font-size: 1.5rem;
}

/* about me section */
.aboutme{
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
}

.icons-container{
    margin-top: 70px;
    margin-bottom: 50px;
}
.aboutme-heading, .icons-container{
text-align: center;
}
.icons-container>i{
    font-size: 2.5rem;
    color: #3f1ad5;
    margin: 20px;
    cursor: pointer;
}
.aboutme-heading{
    color: #3f1ad5;
}
.aboutme-container{
    background-color: #fff;
    text-align: justify;
    
}

/* project section */
.myprojects{
    font-size: 1.5rem;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    padding-top: 50px;
    background-color: #3f1ad5;
    padding-bottom: 50px;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.project-card{
    width: 300px;
    height: auto;
    border: 1px solid #000000;
    background-color: #97e123;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.preview-bt{
    background-color: #3f1ad5;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0.3rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 1rem;
    width: 50%;
    font-family: 'Teko', sans-serif;
}
.project-description{
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: left;
    text-align: justify;
    color: #fff;
}
/* diff section */
.diff-container{
    margin-right: 150px;
    margin-left: 150px;
    background-color: #fff;
}
.diff-heading-description{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.diff-icons{
    display: flex;
    margin: 25px;
}
.icon{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fab, .fas{
    font-size: 60px;
    margin: 10px;
    color: #3f1ad5;
}

/* skill section */
.skill-section-container{
    background-color: #3f1ad5;
    padding-top: 40px;
}

.skill-heading-description{
    margin-left: 300px;
    margin-right:300px;
}
.skill-heading{
    text-align: center;
}
.skill-description{
    text-align: justify;
}
.skill-container{
    margin-left: 150px;
    margin-right: 150px;
    padding : 30px;
}
.container{
    background-color: rgb(141, 135, 135);
    border: 1px solid black;
    border-radius: 30px;
}
.skill{
    text-align: right;
    color: #000000;
}
.html{
    width: 90%;
    background-color: #97e123;
    border-radius: 30px;
}
.css{
    width: 70%;
    background-color: #ec2edd;
    border-radius: 30px;
}
.javascript{
    width: 85%;
    background-color: rgb(230, 139, 36);
    border-radius: 30px;
}
.java{
    width: 65%;
    background-color: #1ddddd;
    border-radius: 30px;
}
.sql{
    width: 70%;
    background-color: #269926;
    border-radius: 30px;
}